node_modules
.idea
.vscode
.settings
# maven generated
target
.gradle
idea-sandbox
*.iml
build
out
.commit
flavors/idea-plugin/fulton-plugin-x1/lib
flavors/idea-plugin/fulton-plugin-x1/util/bundle/*.gz
flavors/idea-plugin/fulton-plugin-x1/util/deploy.tar.gz
