<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug" package="com.vivo.internet.logLayout">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <ThresholdFilter onMatch="Accept" onMisMath="Deny" level="debug"/>
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>

    <Loggers>


        <logger name="com.fulton_shaw.idea.plugin.x1.action.string.StringManipulationAction" level="debug"
                additivity="false">
            <appender-ref ref="Console"/>
        </logger>

        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>

    </Loggers>
</Configuration>